clients/app/e2e
clients/app/node_modules
clients/app/plataforms
clients/app/resources
clients/web-page/e2e
clients/web-page/node_modules

server/files/

*.out

Procesamiento_imágenes/.idea/

Procesamiento_imágenes/cmake-build-debug/

server/server
server/imgs/
server/cols
server/his
server/logs
.directory

daemon/server/cols/
daemon/server/his/
daemon/server/logs/

daemon/server/server
